@import './colors';
@import './buttons';

.sign-upPage {
    background-color: $login-color;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .signup-form {
        align-items: center;
        width: 35rem;
        display: flex;
        flex-direction: column;
        margin: 10rem 25rem;

        label {
            color: $main-color;
            text-transform: uppercase;
        }

        input {
            width: 100%;
            padding: 8px;
        }
        button {
            @include button;
            margin-top: 1rem;
        }
        button:hover {
            @include hover;
        }
    }
}